nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: linear-gradient(
    128deg,
    rgba(0, 118, 136, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-top: solid 2px black;
}

.navigation__site {
  color: black;
  max-width: 400px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  font-size: 130%;
  row-gap: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a:hover {
  color: #007484;
  transform: scale(1.1);
}

.navigation__site--current {
  color: #004752;
  max-width: 400px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  font-size: 130%;
}

nav a {
  text-decoration: none;
}
