nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 80px;
  background-color: #00343c;
}

.button {
  color: black;
  max-width: 400px;
  background-color: white;
  display: flex;
  border-radius: 20px;
  padding: 15px;
  margin-right: 40px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  color: black;
}

a:hover {
  color: #0076887c;
}

nav a {
  text-decoration: none;
}
