.notes {
  max-width: 400px;
  background-color: #0076887c;
  border-radius: 10px;
  padding: 50px;
  display: grid;
  position: relative;
}

label {
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: 700;
}

#submit {
  font-size: 14px;
  background-color: #00343c;
  border-color: #02181b;
  color: white;
  padding: 7px;
  border-radius: 5px;
}

#create__question {
  display: flex;
  margin-bottom: 30px;
  border: white;
  max-width: 300px;
}

#create__answer {
  display: flex;
  margin-bottom: 30px;
  border: white;
  max-width: 300px;
}

#create__tags {
  display: flex;
  margin-bottom: 30px;
  border: white;
  max-width: 300px;
}
