.profile {
  max-width: 400px;
  background-color: #0076887c;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  position: relative;
}

img {
  border-radius: 50%;
  width: 150px;
}

.profile__text {
  padding-top: 25px;
  max-width: 75%;
}

.logout {
  position: absolute;
  top: 200px;
  right: 30px;
  display: flex;
  font-size: 14px;
  background-color: #00343c;
  border-color: #02181b;
  color: white;
  padding: 12px;
  border-radius: 50px;
}
